{% extends 'main/base-back.html.twig' %}
{% block stationa %}
<br><table class="table table-striped">
    <tr>
        <th>nom de station</th>
        <th>localisation de station</th>
        <th>velos disponibles</th>

    </tr>
    {%for k in liss %}
    <tr>
        <td>{{k.getNomStation() }}</td>
        <td>{{k.getLocalisationStation()}}</td>
        <td>{{k.getVeloStation()}}</td>

    </tr>
    {%endfor%}

</table>

{% endblock %}