{% extends 'main/base-back.html.twig' %}

{% block title %}New Reserv{% endblock %}

{% block body %}
    <h1>Create new Reserv</h1>

    {{ include('reserv/_form.html.twig') }}

    <a href="{{ path('app_reserv_index') }}">back to list</a>
{% endblock %}
