{% extends 'main/base-front.html.twig' %}   
{% block title %}Reserver Velo{% endblock %}
{% block body %}
    <h1>faire une Reservation de Velo</h1>

    {{ include('reservation_velo/_form.html.twig') }}

    <a href="{{ path('app_station') }}">retour</a>
{% endblock %}