{% extends 'main/base-front.html.twig' %}

{% block title %}Edit Reclamation{% endblock %}

{% block body %}
    <h1>Edit Reclamation</h1>

    {{ include('reclamation_front/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reclamation_front_index') }}">back to list</a>

    {{ include('reclamation_front/_delete_form.html.twig') }}
{% endblock %}
