{% extends 'base.html.twig' %}

{% block title %}New Velo{% endblock %}

{% block body %}
    <h1>Create new Velo</h1>

    {{ include('sahar/_form.html.twig') }}

    <a href="{{ path('app_sahar_index') }}">back to list</a>
{% endblock %}
